.am-container{
    display: grid;
    grid-template-columns: 1fr;
}

.am-navbarContainer{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10vh auto;
}

.am-carouselContainer{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 41vh;
    
}

.back-span{
    background-color: #232F3E;
    border-radius: 50vh;
}



.imgyAside-container{
    display: grid;
    grid-template-columns: 10fr 2fr;
    grid-column-gap: 3vw;
    grid-row-gap: 2vh;
    justify-items:center;
}

.am-carousel1{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 7vh  auto;
    border-bottom: #EEEEEE solid .1vh;
    
    
}

.para-carousel{
    padding-top: 3vh;
    margin-left: 2vw;
    font-size: 18px;
    text-align:left;
    font-weight: bold;
    
}

.para-carousel>a{
    margin: 1vw;
}
.am-img-cont{
    display: grid;
    justify-content: center;
}
.am-mitadUnoRow{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.mitad{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    font-size: 20px;
    font-weight: bold;
}

.mitad>p{
    
}


.aside-container{
    
}