
ul{
  border-right: 1px solid #CDCDCD;
}
.textoTamaño{
  font-size: 11px;
}
.resultados a>span:last-child{
  color: #999;
  font-size: 12px;
}
.resultados li>a{
  color: black;
  font-size: 12px;
}
.resultados li>a:hover,
.pagination a:hover,
.videojuego,
.dummyImg a:hover{
  color:#F26E06;
  text-decoration: none;
}
.resultados h5{
  color:#CDCDCD;
}

.pagination, .pestañas{
  box-shadow: 3px 3px 3px #CDCDCD;
  width: 100%;
  margin-top: 0px;
}
.margenAbajo{
  margin-bottom: 0;
}
.prime{
  width: 40px;
  margin-top:-10px;
}
.estrella{
  margin-left: 25%;
}
.gris{
  color: gray;
}
.paginationFinal{
  background: #F2F2F2;
  padding: 1%;
}
.paginationFinal span{
  padding: 1%;
}
.jumbotron{
  background: none;
  border: 1px solid #CDCDCD;
  margin: 1.5%;
  padding:2%;
}
