  <header .container-fluid.fondoNegro{
    height: 300px;
  }
.redondear{
  border-radius: 50%;
}
.deptos{
  z-index: 100;
}
.btnBusqueda{
    width:10%;
    border-radius: 50%;
    padding:1px;
}
.ancho{
  width:100%;
  padding:0;
  height: auto;
}
.anchoBusqueda{
    width:80%;

    padding:0;
  }
input .form-control.ancho{
  width:100%;
}
.espacioVerticalHeader{
  height:2em;
}
.espacioDrowdown{
  padding-left:20%;
    padding-right: 20%;
}


.margenTopBusqueda{
  margin:0px;
}
.dropdownPrueba{
  position: absolute;
  top:2em;
}

.navbar-form{
  width: 100%;
}
marg
margentop
.margenTop{
  margin-top: 2em;
}
.group{
  padding: 0;
}
header{
  background:black;

}
.frLogo{
margin-top:1%;
}
.anchoImg{
  width:18%;
  height:3em;
  padding:0;
}
.margenCero{
  margin-left: 0px;

}
.fondoNegro{
  background: black;
  color:white;
}
.borde{
  border:1px solid yellow;
}
.cero{
  padding:0px;
}


.btnCarrito{
width:10px;
height: auto;
}
.imgCarrito{
border-radius: 50%;
}
